%h1= humanize_period @period

= form_tag workouts_path, method: :get do
  = select_month @start, prefix: 'start'
  = select_day   @start, prefix: 'start'
  = select_year  @start, prefix: 'start', start_year: 2007, end_year: Time.zone.today.year
  &mdash;
  = select_month @finish, prefix: 'finish'
  = select_day   @finish, prefix: 'finish'
  = select_year  @finish, prefix: 'finish', start_year: 2007, end_year: Time.zone.today.year
  = submit_tag 'Go'

= cache [:user, @period.first, @period.last] do
  #HealthYear{
    data: {
      controller: 'health-year',
      health_year_workout_value: @period.step(7).collect{|date| Current.user.workouts.on(date..(date+6)).sum(:minutes)},
      health_year_weights_value: Current.user.weight_json(@period),
      health_year_start_year_value: (@period.first - 1.month).year,
      health_year_start_month_value: (@period.first - 1.month).month,
      health_year_start_day_value: (@period.first - 1.month).day
    }
  }

= render partial: 'things/things', object: @workouts

= will_paginate @workouts
