%h1 Edit Nike

= form_for @nike do |f|
  %p= f.date_select :date, :order=>[:month, :day, :year]
  %p= f.text_field  :minutes,  :default=>'minutes'
  %p= f.text_field  :description, :default=>'description'
  %p
    = submit_tag 'Update'
    or
    %span.delete= link_to 'delete', @nike, :method=>:delete