%p
  Day of Month:
  = form.collection_select :day, (1..31).collect, :to_i, :to_s
%p= form.text_field :amount, class: 'money'
%p= form.text_field :vendor_name, default: 'vendor'
%p= form.text_field :tag_list, default: 'tags'

%p
  Debit:
  = form.collection_select :debit_id, @household.accounts, :id, :name, include_blank: true
%p
  Credit:
  = form.collection_select :credit_id, @household.accounts, :id, :name, include_blank: true
