%h1 Recurring Transactions

%p.create= link_to 'Create...', new_recurring_path, rel: 'facebox'

- unless @recurrings.empty?
  %table
    %tr
      %th Day
      %th 
      %th Amount
      %th Debit
      %th Credit

    - @recurrings.each do |recurring|
      %tr.recurring
        %td.date= link_to recurring.day, recurring, rel: 'facebox'
        %td
          = vendor_name recurring
          %span.tags= linked_tag_list recurring
        %td.num= number_to_currency recurring.amount, precision: 0

        %td
          - if recurring.debit
            = link_to recurring.debit.name, recurring.debit, class: 'debit'
        %td.credit
          - if recurring.credit
            = link_to recurring.credit.name, recurring.credit, class: 'credit'