<p>Date<br/>
	 <%= form.date_select :date, :order=>[:month, :day, :year] %></p>
	
<p>Job<br/>
	 <%= form.collection_select :job_id, current_user.jobs, :id, :name %> </p>
	
<p>Time<br/>
	<%= form.text_field :hours, :class=>'time' %> : <%= form.text_field :min, :class=>'time'%></p>
	
<p>Description<br/>
	<%= form.text_field :description, :class=>'description'%></p>