= cache thing do
  - if thing.is_a?(Transaction)

    - if thing.secret? && thing.user != Current.user
      %tr.transaction
        %td.date
          &nbsp;
          = link_to thing.date, date_link(thing.date)
        %td{colspan: 2}
          %span.secret SECRET
    - else
      %tr.transaction
        %td.date
          = link_to '«', thing, data: { turbo_frame: 'modal' }
          = link_to thing.date, date_link(thing.date)
        %td
          = vendor_name thing
          = thing.description.presence
          %span.tags= linked_tag_list thing
          - if thing.secret?
            %span.secret SECRET
        %td.debit
          - if thing.debit
            = link_to thing.debit.name, thing.debit, class: 'debit'
          - else
            FIX ME!!!
        %td.credit
          - if thing.credit
            = link_to thing.credit.name, thing.credit, class: 'credit'
          - else
            FIX ME !!!
        %td.money
          = number_to_currency thing.amount, precision: 0

  - elsif thing.is_a?(Note)
    %tr
      %td.date
        = link_to '«', thing, data: { turbo_frame: 'modal' }
        = link_to thing.date, date_link(thing.date)
      %td{colspan: 4}
        - if thing.body.length < 80
          = thing.body
        - else
          .preview #{thing.body.first(80)} #{link_to '...', '', class: 'expand_note'}
          .hide= simple_format thing.body

  - elsif thing.is_a?(Weight)
    %tr
      %td.date
        = link_to '«', thing, data: { turbo_frame: 'modal' }
        = link_to thing.date, date_link(thing.date)
      %td{colspan: 4} Weight #{thing.weight}lbs

  - elsif thing.is_a?(Workout)
    %tr
      %td.date
        = link_to '«', thing, data: { turbo_frame: 'modal' }
        = link_to thing.date, date_link(thing.date)
      %td{colspan: 4}= thing
