- unless things.empty?
  %table
    %tbody
      - things.each do |thing|
        - if thing.is_a?(Item)
          - if thing.secret? && thing.user != @user
            %tr.item
              %td.date
                &nbsp;
                = link_to thing.date, date_link(thing.date)
              %td{colspan: 2}
                %span.secret SECRET
          - else
            %tr.item
              %td.date
                = link_to '«', thing, :rel=>:facebox
                = link_to thing.date, date_link(thing.date)
              %td
                = vendor_name thing
                - unless thing.description.blank?
                  = "- #{thing.description}"
                %span.tags= linked_tag_list thing
                - if thing.secret?
                  %span.secret SECRET
              %td.money
                = color_money thing.value
                - unless thing.start == thing.finish
                  = '/'
                  = (thing.finish - thing.start).to_i + 1
        
        - elsif thing.is_a?(Note)
          %tr
            %td.date
              = link_to '«', thing, :rel=>:facebox
              = link_to thing.date, date_link(thing.date)
            %td{colspan: 2}
              - if thing.body.length < 80
                = thing.body
              - else
                .preview= "#{thing.body.first(80)} #{link_to '...', '', :class=>:expand_note}"
                .hide= simple_format thing.body    

        - elsif thing.is_a?(Weight)
          %tr
            %td.date
              = link_to '«', thing, :rel=>:facebox
              = link_to thing.date, date_link(thing.date);
            %td{colspan: 2}= "Weight #{thing.weight}lbs"
        
        - elsif thing.is_a?(Workout)
          %tr
            %td.date
              = link_to '«', thing, :rel=>:facebox
              = link_to thing.date, date_link(thing.date)
            %td{colspan: 2}= thing