- unless things.empty?
  %table
    %tbody
      - things.each do |thing|
        - if thing.is_a?(Item)
          %tr.item
            %td.date
              = link_to '«', thing, :rel=>:facebox
              = link_to thing.date, date_link(thing.date)
            %td.description
              = thing.description
              %span.tags= linked_tag_list thing
            %td.vendor= vendor_name thing
            %td.money
              = color_money thing.value
              - unless thing.start == thing.finish
                = '/'
                = (thing.finish - thing.start).to_i + 1
        
        - elsif thing.is_a?(Note)
          %tr.note
            %td.date
              = link_to '«', thing, :rel=>:facebox
              = link_to thing.date, date_link(thing.date)
            %td.description{:colspan=>3}
              - if thing.body.length < 80
                = thing.body
              - else
                .preview= "#{thing.body.first(80)} #{link_to '...', '', :class=>:expand_note}"
                .hide= simple_format thing.body
        
        - elsif thing.is_a?(Bike)
          %tr.run
            %td.date
              = link_to '«', thing, :rel=>:facebox
              = link_to thing.date, date_link(thing.date)
            %td.description{:colspan=>3}= "Biked #{thing.distance}mi/#{minutes_to_time thing.minutes}"
            
        - elsif thing.is_a?(Elliptical)
          %tr.run
            %td.date
              = link_to '«', thing, :rel=>:facebox
              = link_to thing.date, date_link(thing.date)
            %td.description{:colspan=>3}= "Elliptical #{thing.distance}mi/#{minutes_to_time thing.minutes}"
        
        - elsif thing.is_a?(Run)
          %tr.run
            %td.date
              = link_to '«', thing, :rel=>:facebox
              = link_to thing.date, date_link(thing.date)
            %td.description{:colspan=>3}= "Ran #{thing.distance}mi/#{minutes_to_time thing.minutes}"

        - elsif thing.is_a?(Weight)
          %tr.run
            %td.date
              = link_to '«', thing, :rel=>:facebox
              = link_to thing.date, date_link(thing.date)
            %td.description{:colspan=>3}= "Weight #{thing.weight}lbs @ #{thing.body_fat}% body fat"