- unless things.empty?
  %table
    %tbody
      - things.each do |thing|
        - if thing.is_a?(Item)
          - if thing.secret? && thing.user != @user
            %tr.item
              %td.date= link_to thing.date, date_link(thing.date)
              %td 
                [REDACTED]
                = thing.user.name.first
          - else
            %tr.item
              %td.date
                = link_to '«', thing, :rel=>:facebox
                = link_to thing.date, date_link(thing.date)
              %td
                = color_money thing.value
                - unless thing.start == thing.finish
                  = '/'
                  = (thing.finish - thing.start).to_i + 1
                %span.vendor= vendor_name thing
                = thing.description
                %span.tags= linked_tag_list thing
                %span.user_name
                  = thing.user.name.first
                  - if thing.secret?
                    %span.secret S
        
        - elsif thing.is_a?(Note)
          %tr
            %td.date
              = link_to '«', thing, :rel=>:facebox
              = link_to thing.date, date_link(thing.date)
            %td
              - if thing.body.length < 80
                = thing.body
              - else
                .preview= "#{thing.body.first(80)} #{link_to '...', '', :class=>:expand_note}"
                .hide= simple_format thing.body    

        - elsif thing.is_a?(Weight)
          %tr
            %td.date
              = link_to '«', thing, :rel=>:facebox
              = link_to thing.date, date_link(thing.date)
            %td= "Weight #{thing.weight}lbs"
        
        - elsif thing.is_a?(Workout)
          %tr
            %td.date
              = link_to '«', thing, :rel=>:facebox
              = link_to thing.date, date_link(thing.date)
            %td= thing