- content_for :sidebar do
  %dl
    %dt= color_money current_user.total_on(Date.today)
    %dd 1
    
    %dt= color_money current_user.total_past_week
    %dd 7
  
    %dt= color_money current_user.total_past_month
    %dd 30
  
    %dt= color_money current_user.total_past_year
    %dd 365
  
    %dt= color_money current_user.items.sum(:value)
    %dd ∞

- form_tag things_path do 
  = text_field_tag 'thing', '', :class=>'long'
  = link_to '...', new_thing_path, :class=>:long_entry, :rel=>:facebox
  

#Graphs
  #Spending
  %script{:type=>'text/javascript'}
    var spending = new FusionCharts("/flash/MSArea.swf", "Spending", "430", "250", "0", "0");
    = "spending.setDataURL(\"#{spending_graph_url(:format=>'xml')}\");"
    spending.render("Spending");
  #Running
  %script{:type=>'text/javascript'}
    var running = new FusionCharts("/flash/MSCombiDY2D.swf", "Running", "410", "250", "0", "0");
    = "running.setDataURL(\"#{running_graph_url(:format=>'xml')}\");"
    running.render("Running");
.clear

= render :partial=>'things', :object=>@things