- content_for :sidebar do
  %dl
    %dt= color_money current_user.total_past_week
    %dd 7
  
    %dt= color_money current_user.total_past_month
    %dd 30
  
    %dt= color_money current_user.total_past_year
    %dd 365
  
    %dt= color_money current_user.items.sum(:value)
    %dd ∞

- form_tag things_path do 
  %p= text_field_tag 'thing', '', :class=>'long'

#Graphs
  #Spending
  %script{:type=>'text/javascript'}
    var spending = new FusionCharts("/flash/MSArea.swf", "Spending", "430", "250", "0", "0");
    = "spending.setDataURL(\"#{spending_graph_url(:format=>'xml')}\");"
    spending.render("Spending");
  #Running
  %script{:type=>'text/javascript'}
    var running = new FusionCharts("/flash/MSCombiDY2D.swf", "Running", "410", "250", "0", "0");
    = "running.setDataURL(\"#{running_graph_url(:format=>'xml')}\");"
    running.render("Running");
.clear

%table
  %tbody
    - @things.each do |thing|
      - if thing.is_a?(Item)
        %tr.item
          %td.date= link_to thing.date.to_s(:full), thing, :rel=>:facebox
          %td.description
            = h thing.description
            %span.tags= linked_tag_list thing
          %td.vendor= vendor_name thing
          %td.money
            - if thing.start == thing.finish
              = color_money thing.value
            - else
              = "#{color_money thing.value} / #{thing.finish - thing.start}"
        
      - elsif thing.is_a?(Note)
        %tr.note
          %td.date= link_to thing.date.to_s(:full), thing, :rel=>:facebox
          %td.description{:colspan=>3}= h thing.body
        
      - elsif thing.is_a?(Run)
        %tr.run
          %td.date= link_to thing.date.to_s(:full), thing, :rel=>:facebox
          %td.description{:colspan=>3}= "Ran #{thing.distance}mi/#{minutes_to_time thing.minutes}"
          
      - elsif thing.is_a?(Tweet)
        %tr.tweet
          %td.date= link_to thing.created_at.to_date.to_s(:full), thing.url
          %td.description{:colspan=>2}= thing.autolink_text
          %td
            - if current_user.twitter_profile_image_url
              = image_tag current_user.twitter_profile_image_url, :class=>:twitter_profile