= form_tag things_path do 
  = text_field_tag 'thing', '', class: 'long'
  = link_to '...', new_thing_path, class: 'long_entry', rel: 'facebox'

#Graphs
  #SpendingMonth= render partial: 'graphs/spending_month'
  - if @user.workouts.during(@month).count > 0 || @user.weights.during(@month).count > 0
    #HealthMonth= render partial: 'graphs/health_month'
.clear

#BudgetMonth= render partial: 'budgets/graph'

%h3
  = link_to @household.cash.name, @household.cash
  = color_money @household.cash.balance

= render partial: 'things', object: @things