%dl#Scorecard
  %dt 7
  %dd= color_money current_user.total_past_week
  
  %dt 30
  %dd= color_money current_user.total_past_month
  
  %dt 365
  %dd= color_money current_user.total_past_year
  
  %dt âˆ
  %dd= color_money current_user.items.sum(:value)

.under_chart
  - form_tag things_path do 
    %p= text_field_tag 'thing'

#Spending
%script{:type=>'text/javascript'}
  var spending = new FusionCharts("/flash/MSArea.swf", "Spending", "600", "300", "0", "0");
  = "spending.setDataURL(\"#{spending_graph_url(:format=>'xml')}\");"
  spending.render("Spending");

%table.under_chart
  %tbody
    - @things.each do |thing|
      - if thing.is_a?(Item)
        %tr.item
          %td.date= link_to thing.date.strftime('%a %d'), thing, :rel=>:facebox
          %td.description
            = h thing.description
            %span.tags= h thing.tag_list
          %td.vendor= vendor_name thing
          %td.money= color_money thing.value
        
      - elsif thing.is_a?(Note)
        %tr.note
          %td.date= link_to thing.date.strftime('%a %d'), thing, :rel=>:facebox
          %td.description{:colspan=>3}= h thing.body
        
      - elsif thing.is_a?(Run)
        %tr.run
          %td.date= link_to thing.date.strftime('%a %d'), thing, :rel=>:facebox
          %td.description{:colspan=>3}= "Ran #{thing.distance}mi/#{minutes_to_time thing.minutes}"