= form_tag things_path do
  = text_field_tag 'thing', '', class: 'long'
  = link_to '...', new_thing_path, class: 'long_entry', rel: 'facebox'

#Graphs
  #SpendingMonth= render partial: 'graphs/spending_month'
  - if @user.workouts.during(@month).any? || @user.weights.during(@month).any?
    #HealthMonth= render partial: 'graphs/health_month'
.clear

#BudgetMonth= render partial: 'graphs/budget_month'

%h3
  = link_to 'This Year', '#'
  = color_money(@household.sum_non_exceptional_expenses(1.year.ago..Time.zone.today) * -1)

-# %h3
-#   = link_to @household.cash.name, @household.cash
-#   = color_money @household.cash.balance

%h3
  = link_to 'Liquid', accounts_path
  = color_money @household.cash_plus_earmarks

- if [1, 2, 3, 15, 16, 17].include?(Time.zone.now.mday)
  %h3
    = link_to 'Last Two Weeks', accounts_path
    = color_money @household.last_period_budget_balance

-# - @household.accounts.asset.each do |account|
-#   - if account.balance.negative? && !account.dashboard?
-#     %h3
-#       = link_to account.name, account
-#       = color_money account.balance

%h3
  = link_to 'Budget Remaining', accounts_path
  = color_money @household.biweekly_budget_balance


-# %h3
-#   = link_to 'Cash Income This Year', '#'
-#   = color_money @household.sum_non_exceptional_income((1.year.ago..Time.zone.today), @household.cash)

= render partial: 'things', object: @things
