%table.budget
  %tr
    %th
    %th 30 Days
    %th 60 Days
    %th 90 Days
    %th 6 Month
    %th 9 Month
    %th Year
  - @household.budgets.order('amount DESC').each do |budget|
    %tr
      %td= link_to budget.name, budget
      %td= budget_link budget, (30.days.ago.to_date..Time.now.to_date)
      %td= budget_link budget, (60.days.ago.to_date..Time.now.to_date)
      %td= budget_link budget, (90.days.ago.to_date..Time.now.to_date)
      %td= budget_link budget, (6.months.ago.to_date..Time.now.to_date)
      %td= budget_link budget, (9.months.ago.to_date..Time.now.to_date)
      %td= budget_link budget, (1.year.ago.to_date..Time.now.to_date)
  
  %tr.strong
    %td Savings Goal
    %td= color_money(@household.total_during((Time.now.to_date - 30.days)..Time.now.to_date) - @household.savings_goal)
    %td= color_money(@household.total_during((Time.now.to_date - 60.days)..Time.now.to_date) - (@household.savings_goal * 2))
    %td= color_money(@household.total_during((Time.now.to_date - 90.days)..Time.now.to_date) - (@household.savings_goal * 3))
    %td= color_money(@household.total_during((Time.now.to_date - 180.days)..Time.now.to_date) - (@household.savings_goal * 6))
    %td= color_money(@household.total_during((Time.now.to_date - 270.days)..Time.now.to_date) - (@household.savings_goal * 9))
    %td= color_money(@household.total_during((Time.now.to_date - 360.days)..Time.now.to_date) - (@household.savings_goal * 12))