%table
  %tr
    %th
    %th 30 Days
    %th 60 Days
    %th 90 Days
    %th Year
  - @household.budgets.order('amount DESC').each do |budget|
    %tr
      %td
        = link_to budget.tag.name.titleize, tag_path(budget.tag)
        = "($#{budget.amount})"
      %td= color_money(budget.amount + @household.items.tagged_with(budget.tag).during(30.days.ago..Date.today).sum(&:value))
      %td= color_money((2 * budget.amount) +  @household.items.tagged_with(budget.tag).during(60.days.ago..Date.today).sum(&:value))
      %td= color_money((3 * budget.amount) + @household.items.tagged_with(budget.tag).during(90.days.ago..Date.today).sum(&:value))
      %td= color_money((12 * budget.amount) + @household.items.tagged_with(budget.tag).during(365.days.ago..Date.today).sum(&:value))