%h1 Budget

= form_for @household do |f|
  %p Household Monthly Savings Goal:
  %p= f.text_field :savings_goal, class: 'money'
  %p= f.submit 'Update'

%p.create= link_to 'Create...', new_budget_path, rel: 'facebox'

- unless @budgets.empty?
  %table
    %tbody
      - @budgets.each do |budget|
        %tr
          %td= link_to '«', [:edit, budget], rel: 'facebox'
          %td= link_to budget.amount, budget
          %td= linked_tag_list budget