%h1= "Budget for #{@budget.name}".html_safe

%h3= "Tags: #{linked_tag_list @budget}".html_safe
%h3= "Monthly Budget: $#{link_to @budget.amount, [:edit, @budget], rel: 'facebox'}".html_safe

%br
%br

%h3= "Budget Period: $#{number_with_delimiter @expected}"
%h3= "Purchases: #{number_with_delimiter @count}"
%h3= "Amount: #{color_money @value}".html_safe
%h3= "Net: #{color_money(@expected + @value)}".html_safe

%br

= form_tag @budget, :method=>:get do
  = select_month @start, prefix: 'start'
  = select_day   @start, prefix: 'start'
  = select_year  @start, prefix: 'start', start_year: @user.created_at.year, end_year: Date.today.year
  &mdash;
  = select_month @finish, prefix: 'finish'
  = select_day   @finish, prefix: 'finish'
  = select_year  @finish, prefix: 'finish', start_year: @user.created_at.year, end_year: Date.today.year
  = submit_tag 'Go'
  
%br


%table
  %tbody
    = render partial: 'items/item', collection: @items
    
= will_paginate @items