= form_for @user do |f|
  %p
    Name
    %br
    = f.text_field :name

  %p
    Email
    %br
    = f.text_field :email

  %p
    Time Zone
    %br
    = f.time_zone_select :time_zone

  %p= submit_tag 'Update'

= form_for @user do |f|
  %p
    New Password
    %br
    = f.password_field :password

  %p
    Confirm New Password
    %br
    = f.password_field :password_confirmation

  %p= submit_tag 'Update Password'

= form_for @household do |f|
  %p
    Primary Checking Account
    %br
    = f.collection_select :checking_id, @household.accounts.asset, :id, :name

  %p
    Primary Credit Card
    %br
    = f.collection_select :credit_card_id, @household.accounts.asset, :id, :name

  %p
    Slush Expense
    %br
    = f.collection_select :slush_id, @household.accounts.expense, :id, :name

  %p
    General Income
    %br
    = f.collection_select :general_income_id, @household.accounts.income, :id, :name

  %p= f.submit 'Update Accounts'
