= modal do
  %h1 Edit Weight

  = form_with model: @weight, data: { turbo: false } do |f|
    %p= f.date_select :date, order: [:month, :day, :year]
    %p= f.text_field :weight, default: 'weight'
    %p
      = submit_tag 'Update'
      or
      %span.delete= button_to 'delete', @weight, method: :delete, data: { turbo: false }
