%h1 Edit Bike

- form_for @bike do |f|
  %p= f.date_select :date, :order=>[:month, :day, :year]
  %p= f.text_field  :distance, :default=>'distance'
  %p= f.text_field  :minutes,  :default=>'minutes'
  %p
    = submit_tag 'Update'
    or
    %span.delete= link_to 'delete', @bike, :method=>:delete