- content_for :sidebar do 
  %dl
    %dt= number_with_delimiter @items_count
    %dd #
  
    %dt= color_money @items_sum
    %dd $
    

%h1= h @tag.name

%table
  %tbody
    = render :partial=>'items/item', :collection=>@items
    

= will_paginate @items