- content_for :sidebar do 
  %dl
    %dt= number_with_delimiter @items_count
    %dd #
  
    %dt= color_money @items_sum
    %dd $
    

%h1= h @tag.name

#OldTagGraph
%script{:type=>'text/javascript'}
  var tag = new FusionCharts("/flash/Column2D.swf", "Tag", "940", "300", "0", "0");
  = "tag.setDataURL(\"#{tag_url(@tag, :format=>'xml')}\");"
  tag.render("OldTagGraph");
#TagGraph= render :partial=>'graph'

%table
  %tbody
    = render :partial=>'items/item', :collection=>@items
    

= will_paginate @items