- content_for :sidebar do 
  %dl
    %dt= number_with_delimiter @items_count
    %dd #
  
    %dt= color_money @items_sum
    %dd $
    
    %dt= color_money @household.items.tagged_with(@tag).during(30.days.ago..Date.today).sum(&:value)
    %dd 30
    
    %dt= color_money @household.items.tagged_with(@tag).during(60.days.ago..Date.today).sum(&:value)
    %dd 60
    
    %dt= color_money @household.items.tagged_with(@tag).during(90.days.ago..Date.today).sum(&:value)
    %dd 90
    
    %dt= color_money @household.items.tagged_with(@tag).during(365.days.ago..Date.today).sum(&:value)
    %dd Year
    

%h1= @tag.name

/#TagGraph= render partial: 'graph'

%table
  %tbody
    = render partial: 'items/item', collection: @items
    

= will_paginate @items