%h1 Vendor

%table
  %thead
    %tr
      %th.first.headerSortDown Name
      %th Count
      %th Amount
      %th ASP
  %tbody
    - @vendors.each do |vendor|
      - count = @user.items.from_vendor(vendor).count
      - sum = @user.items.from_vendor(vendor).sum(:value)
      %tr
        %td.vendor= link_to vendor.name, vendor
        %td.count= number_with_delimiter count
        %td.sum= number_with_delimiter color_explicit_money(sum)
        %td.sum= number_with_delimiter color_explicit_money((sum / count.to_f).round)
        

= will_paginate @vendors