- content_for :sidebar do 
  %dl
    %dt= number_with_delimiter @vendor.items.count_from(current_user)
    %dd #
    
    %dt= color_money @vendor.items.sum_from(current_user)
    %dd $
    

%h1= h @vendor.name
  

%table
  %tbody
    = render :partial=>'items/item', :collection=>@items
    
= will_paginate @items