%table
  %tr
    %td Date
    %td= form.date_select :date, :order=>[:month, :day]
  
  %tr
    %td Amount
    %td= form.text_field :value, :class=>:money
    
  - fields_for @item.vendor do |v|
    %tr
      %td Vendor
      %td= v.text_field :name, :class=>:description

  %tr
    %td Description
    %td= form.text_field :description, :class=>:description
    
  %tr
    %td Tags
    %td= form.text_field :tag_list, :class=>:description