%div= form.date_select :date, :order=>[:month, :day, :year]

%div= form.text_field :explicit_value, :class=>:money

- fields_for :vendor, @item.vendor do |v|
  %div= v.text_field :name, :default=>'vendor'

%div= form.text_field :description, :default=>'description'

%div= form.text_field :tag_list, :default=>'tags'