%dl
  %dt Date
  %dd= form.date_select :date, :order=>[:month, :day]

  %dt Amount
  %dd= form.text_field :value, :class=>:money

  - fields_for @item.vendor do |v|
    %dt Vendor
    %dd= v.text_field :name

  %dt Description
  %dd= form.text_field :description
  
  %dt Tags
  %dd= form.text_field :tag_list
    