%tr
  %td.date= link_to item.date.to_s(:full), item, :rel=>:facebox
  %td.vendor= vendor_name item
  %td.description
    = h item.description
    %span.tags= linked_tag_list item
  
  %td.money= color_money item.value