%tr
  %td.date
    = link_to '«', item, rel: 'facebox'
    = link_to item.date, date_link(item.date)
  %td.vendor= vendor_name item
  %td.description
    = item.description
    %span.tags= linked_tag_list item
  
  %td.money
    = color_money item.value
    - unless item.start == item.finish
      = '/'
      = (item.finish - item.start).to_i + 1