%tr
  %td= link_to item.date.strftime('%B %e'), item, :rel=>:facebox
  %td.vendor= vendor_name item
  %td.description
    = h item.description
    %span.tags= linked_tag_list item
  
  %td.money= color_money item.value