<h1>Edit Transaction</h1>

<%= error_messages_for :item %>

<% form_for(:item, :url => item_path(@item), :html => { :method => :put }) do |f| %>
  <%= render :partial=>'form', :object=> f %>
  <p><%= submit_tag "Update" %> or  <%= link_to 'Delete', item_path(@item), :method=>:delete, :confirm=>"Are you sure?" %></p>
<% end %>

<p><%= link_to 'Back to Register', register_path(:year=>@item.date.year, :month=>@item.date.month)%></p>