%h1= humanize_period @period

.date_selector
  - form_tag items_path, :method=>:get do
    = select_month @period.first
    = select_year  @period.first, :start_year=>2007, :end_year=>Date.today.year
.clear

- if @items.empty?
  %p No Activity
- else
  %table#History
    = render :partial=>'item', :collection=>@items

.date_selector
  - form_tag items_path, :method=>:get do
    = select_month @period.first
    = select_year  @period.first, :start_year=>2007, :end_year=>Date.today.year
.clear