%dl#Scorecard
  %dt 7
  %dd= color_money current_user.total_past_week
  
  %dt 30
  %dd= color_money current_user.total_past_month
  
  %dt 365
  %dd= color_money current_user.total_past_year
  
  %dt ∞
  %dd= color_money current_user.items.sum(:value)
  
- form_tag things_path do 
  %p= text_field_tag 'thing'

%table#History
  - @things.each do |thing|
    - if thing.is_a?(Item)
      %tr.item
        %td.date= link_to thing.date.strftime('%a %d'), thing, :rel=>:facebox
        %td.money= color_money thing.value
        %td.vendor= h thing.vendor.try(:name)
        %td.description
          = h thing.description
          %span.tags= h thing.tag_list
    - elsif thing.is_a?(Note)
      %tr.note
        %td.date= link_to thing.date.strftime('%a %d'), thing, :rel=>:facebox
        %td.money &nbsp;
        %td.vendor &nbsp;
        %td.description= h thing.body
    - elsif thing.is_a?(Run)
      %tr.run
        %td.date= link_to thing.date.strftime('%a %d'), thing, :rel=>:facebox
        %td.money &nbsp;
        %td.vendor &nbsp;
        %td.description= "Ran #{thing.distance} miles"