- unless @items.empty?
  %table#Transactions
    %tr
      %th Date
      %th Amount
      %th Vendor
      %th Description
    - for item in @items
      %tr
        %td= link_to item.date.strftime('%a %m/%d'), item, :rel=>:facebox
        %td= color_money item.value
        %td= h item.vendor.try(:name)
        %td= h item.description

#Input
  #NewTransaction
    - form_for @item do |f|
      = render :partial=>'form', :object=>f        
      %p= submit_tag 'Add Transaction'
      
%dl.breakout
  %dt Week
  %dd= color_money current_user.total_past_week
  
  %dt 30 Days
  %dd= color_money current_user.total_past_month
  
  %dt Year
  %dd= color_money current_user.total_past_year
  
  %dt All Time
  %dd= color_money current_user.items.sum(:value)



#Activity
  %script{:type=>'text/javascript'}
    var expenses = new FusionCharts("/flash/MSArea.swf", "Activity", "800", "300", "0", "0");
    = "expenses.setDataURL(\"#{activity_graph_url}\");"
    expenses.render("Activity");
