%h1= humanize_period @period

.date_selector
  - form_tag items_path, :method=>:get do
    = select_month @period.first
    = select_year  @period.first, :start_year=>2007, :end_year=>Date.today.year
.clear

- if @items.empty?
  %p No Activity
- else
  %table#History
    - for item in @items
      %tr
        %td= link_to item.date.strftime('%B %e'), item, :rel=>:facebox
        %td.vendor= h item.vendor.try(:name)
        %td.description
          = h item.description
          %span.tags= h item.tag_list
        
        %td.money= color_money item.value
      

.date_selector
  - form_tag items_path, :method=>:get do
    = select_month @period.first
    = select_year  @period.first, :start_year=>2007, :end_year=>Date.today.year
.clear