%dl#Scorecard
  %dt 7
  %dd= color_money current_user.total_past_week
  
  %dt 30
  %dd= color_money current_user.total_past_month
  
  %dt 365
  %dd= color_money current_user.total_past_year
  
  %dt âˆ
  %dd= color_money current_user.items.sum(:value)

- unless @items.empty?
  %table
    %tr
      %th Date
      %th Amount
      %th Vendor
      %th Description
    - for item in @items
      %tr
        %td= link_to item.date.strftime('%a %m/%d'), item, :rel=>:facebox
        %td= item.value
        %td= h item.vendor.try(:name)
        %td= h item.description

- form_for @item do |f|
  = render :partial=>'form', :object=>f        
  %p= submit_tag 'Add Transaction'

- unless @notes.empty?
  %table
    %tr
      %th Date
      %th &nbsp;
    - for note in @notes
      %tr
        %td= link_to note.date.strftime('%a %m/%d'), note, :rel=>:facebox
        %td=h note.body

- form_for @note do |f|
  = render :partial=>'notes/form', :object=>f
  %p= submit_tag 'Add Note'  

/%img{:src=>current_user.chart((Date.today - 30)..Date.today)}