

%dl#Scorecard
  %dt 7
  %dd= color_money current_user.total_past_week
  
  %dt 30
  %dd= color_money current_user.total_past_month
  
  %dt 365
  %dd= color_money current_user.total_past_year
  
  %dt âˆ
  %dd= color_money current_user.items.sum(:value)

- form_for @item do |f|
  = render :partial=>'form', :object=>f        
  %p= submit_tag 'Add Transaction'

- form_for @note do |f|
  = render :partial=>'notes/form', :object=>f
  %p= submit_tag 'Add Note'  

/%img{:src=>current_user.chart((Date.today - 30)..Date.today)}