%h1 Edit Transaction

- form_for @item do |f|
  %p= f.date_select :date,           :order=>[:month, :day, :year]
  %p= f.text_field  :explicit_value, :class=>:money
  %p= f.text_field  :vendor_name,    :default=>'vendor'
  %p= f.text_field  :description,    :default=>'description'
  %p= f.text_field  :tag_list,       :default=>'tags'
  
  %p
    = submit_tag 'Update'
    or
    %span.delete= link_to 'delete', @item, :method=>:delete