%h1 Edit Transaction

- form_for @item, :html=>{:multipart=>true} do |f|
  %p= f.date_select :date,           :order=>[:month, :day, :year]
  %p= f.text_field  :explicit_value, :class=>:money
  %p= f.text_field  :vendor_name,    :default=>'vendor'
  %p= f.text_field  :description,    :default=>'description'
  %p= f.text_field  :tag_list,       :default=>'tags'
    
  .amortize
    .show{:class=>(@item.start == @item.finish ? '' : 'hide')}= link_to 'Amortize', '#'
    .dates{:class=>(@item.start == @item.finish ? 'hide' : '')}
      %p
        = f.date_select :start, :order=>[:month, :day, :year]
        Start
      %p
        = f.date_select :finish, :order=>[:month, :day, :year]
        End
  
  .upload_image
    .show= link_to 'Upload Image', '#'
    .form.hide
      - fields_for :image do |i|
        %p= i.file_field :source
    
  - for image in @item.images
    - unless image.new_record?
      = link_to 'x', image, :method=>:delete
      = image_tag image.url 

  %p
    = submit_tag 'Update'
    or
    %span.delete= link_to 'delete', @item, :method=>:delete