%h1 Edit Transaction

%p
  Added by
  = @item.user.name

= form_for @item do |f|
  %p= f.date_select :date,           order: [:month, :day, :year]
  %p= f.text_field  :explicit_value, class: 'money'
  %p= f.text_field  :vendor_name,    default: 'vendor'
  %p= f.text_field  :description,    default: 'description'
  %p= f.text_field  :tag_list,       default: 'tags'
  
  %p
    = f.check_box   :secret
    = f.label :secret, 'Top Secret'
    
  .amortize
    .show{class: (@item.start == @item.finish ? '' : 'hide')}= link_to 'Amortize', '#'
    .dates{class: (@item.start == @item.finish ? 'hide' : '')}
      %p
        = f.date_select :start, order: [:month, :day, :year]
        Start
      %p
        = f.date_select :finish, order: [:month, :day, :year]
        End

  %p
    = submit_tag 'Update'
    or
    %span.delete= link_to 'delete', @item, :method=>:delete