- if transaction.secret? && transaction.user != @user
  %tr.transaction
    %td.date
      &nbsp;
      = link_to transaction.date, date_link(transaction.date)
    %td{colspan: 2}
      %span.secret SECRET
- else
  %tr
    %td.date
      = link_to '«', transaction, rel: 'facebox'
      = link_to transaction.date, date_link(transaction.date)
    %td= vendor_name transaction
    %td
      = transaction.description
      %span.tags= linked_tag_list transaction
      - if transaction.secret?
        %span.secret SECRET
  
    %td.money
      = color_money transaction.value
      - unless transaction.start == transaction.finish
        = '/'
        = (transaction.finish - transaction.start).to_i + 1