- if item.secret? && item.user != @user
  %tr.item
    %td.date
      &nbsp;
      = link_to item.date, date_link(item.date)
    %td{colspan: 2}
      %span.secret SECRET
- else
  %tr
    %td.date
      = link_to '«', item, rel: 'facebox'
      = link_to item.date, date_link(item.date)
    %td= vendor_name item
    %td
      = item.description
      %span.tags= linked_tag_list item
      - if item.secret?
        %span.secret SECRET
  
    %td.money
      = color_money item.value
      - unless item.start == item.finish
        = '/'
        = (item.finish - item.start).to_i + 1