%h1= humanize_period @period

.date_selector
  = form_tag transactions_path, method: :get do
    = select_month @period.first
    = select_year  @period.first, start_year: Current.user.created_at.year, end_year: Time.zone.today.year
    = submit_tag 'Change'
.clear

- if @transactions.empty?
  %p No Activity
- else
  = render partial: 'things/things', object: @transactions

.date_selector
  = form_tag transactions_path, method: :get do
    = select_month @period.first
    = select_year  @period.first, start_year: Current.user.created_at.year, end_year: Time.zone.today.year
.clear
