%h1= humanize_period @period

= form_tag reports_path, method: :get do
  = select_month @start, prefix: 'start'
  = select_day   @start, prefix: 'start'
  = select_year  @start, prefix: 'start', start_year: @user.created_at.year, end_year: Time.zone.today.year
  &mdash;
  = select_month @finish, prefix: 'finish'
  = select_day   @finish, prefix: 'finish'
  = select_year  @finish, prefix: 'finish', start_year: @user.created_at.year, end_year: Time.zone.today.year
  = submit_tag 'Go'

= cache [@household, @period.first, @period.last] do
  #SpendingYear{
    data: {
      controller: 'spending-graph',
      spending_graph_expense_value: @period.step(7).collect{|date| @household.sum_expenses(@period.first..date) * -1},
      spending_graph_income_value: @period.step(7).collect{|date| @household.sum_income @period.first..date},
      spending_graph_start_year_value: (@period.first - 1.month).year,
      spending_graph_start_month_value: (@period.first - 1.month).month,
      spending_graph_start_day_value: (@period.first - 1.month).day
    }
  }

%table
  %tr
    %td{colspan: 2} All
  %tr
    %td Income
    %td= color_money @income
  %tr
    %td Expenses
    %td= color_money @expenses
  %tr
    %td Net
    %td= color_money @net
  - unless @income.zero?
    %tr
      %td Savings Rate
      %td #{(@net / @income.to_f * 100).round(1)}%

  %tr
    %td{colspan: 2} Non-Exceptional Cash
    %tr
      %td Income
      %td= color_money @exceptional_income
    %tr
      %td Expenses
      %td= color_money @exceptional_expenses
    %tr
      %td Net
      %td= color_money @exceptional_net
    - unless @exceptional_income.zero?
      %tr
        %td Savings Rate
        %td #{(@exceptional_net / @exceptional_income.to_f * 100).round(1)}%

%h2 Top Expenses
%table
  %tr
    %th Account
    %th Transactions
    %th Total
  - @expense_accounts.each do |account|
    %tr
      %td= account.name
      %td.count= account.transaction_count
      %td.count= color_money(account.total * -1)


%table
  %tr
    %th Account
    %th Transactions
    %th Total
  - @expense_tags.each do |tag|
    %tr
      %td= tag.name
      %td.count= tag.transaction_count
      %td.count= color_money(tag.total * -1)
