%h1= humanize_period @period

- form_tag reports_path, :method=>:get do
  = select_month @start, :prefix=>'start'
  = select_day   @start, :prefix=>'start'
  = select_year  @start, :prefix=>'start', :start_year=>2007, :end_year=>Date.today.year
  &mdash;
  = select_month @finish, :prefix=>'finish'
  = select_day   @finish, :prefix=>'finish'
  = select_year  @finish, :prefix=>'finish', :start_year=>2007, :end_year=>Date.today.year
  = submit_tag 'Go'

#SpendingYear
%script{:type=>'text/javascript'}
  var spending = new FusionCharts("/flash/MSArea.swf", "Spending", "940", "300", "0", "0");
  = "spending.setDataURL(\"#{spending_url(:start=>@start, :finish=>@finish, :format=>'xml')}\");"
  spending.render("SpendingYear");
  
%table
  %tr
    %td Income
    %td= color_money @income
  %tr
    %td Expenses
    %td= color_money @expenses
  %tr
    %td Net
    %td= color_money @net
  - unless @income == 0
    %tr
      %td Savings Rate
      %td= "#{(@net / @income.to_f * 100).round(1)}%"

= render :partial=>'tags/tags', :object=>@tags

      

#HealthYear
%script{:type=>'text/javascript'}
  var health = new FusionCharts("/flash/MSCombiDY2D.swf", "Health", "940", "300", "0", "0");
  = "health.setDataURL(\"#{health_url(:start=>@start, :finish=>@finish, :format=>'xml')}\");"
  health.render("HealthYear");

%table
  %tr
    %td Running Distance
    %td
      = number_with_delimiter @run
      miles
  %tr
    %td Running Time
    %td= minutes_to_time @run_time
  - unless @run == 0
    %tr
      %td Run Pace
      %td
        = (@run_time / @run).round 2
        min/mi
        
        
  %tr
    %td Biking Distance
    %td
      = number_with_delimiter @bike
      miles
  %tr
    %td Biking Time
    %td= minutes_to_time @bike_time
  - unless @bike_time == 0
    %tr
      %td Bike Pace
      %td
        = (@bike/ (@bike_time / 60.0)).round 2
        mi/hr