%h1= humanize_period @period

= form_tag reports_path, method: :get do
  = select_month @start, prefix: 'start'
  = select_day   @start, prefix: 'start'
  = select_year  @start, prefix: 'start', start_year: @user.created_at.year, end_year: Date.today.year
  &mdash;
  = select_month @finish, prefix: 'finish'
  = select_day   @finish, prefix: 'finish'
  = select_year  @finish, prefix: 'finish', start_year: @user.created_at.year, end_year: Date.today.year
  = check_box_tag :lump_sum, @lump_sum
  = submit_tag 'Go'

#SpendingYear= render partial: 'graphs/spending_year'

%table
  %tr
    %td Income
    %td= color_money @income
  %tr
    %td Expenses
    %td= color_money @expenses
  %tr
    %td Net
    %td= color_money @net
  - unless @income.zero?
    %tr
      %td Savings Rate
      %td #{(@net / @income.to_f * 100).round(1)}%
