%h1= humanize_period @period

- form_tag reports_path, :method=>:get do
  = select_month @start, :prefix=>'start'
  = select_day   @start, :prefix=>'start'
  = select_year  @start, :prefix=>'start', :start_year=>2007, :end_year=>Date.today.year
  &mdash;
  = select_month @finish, :prefix=>'finish'
  = select_day   @finish, :prefix=>'finish'
  = select_year  @finish, :prefix=>'finish', :start_year=>2007, :end_year=>Date.today.year
  = submit_tag 'Go'

#SpendingYear
%script{:type=>'text/javascript'}
  var spending = new FusionCharts("/flash/MSArea.swf", "Spending", "940", "300", "0", "0");
  = "spending.setDataURL(\"#{spending_url(:start=>@start, :finish=>@finish, :format=>'xml')}\");"
  spending.render("SpendingYear");

#RunningYear
%script{:type=>'text/javascript'}
  var running = new FusionCharts("/flash/MSCombiDY2D.swf", "Running", "940", "300", "0", "0");
  = "running.setDataURL(\"#{running_url(:start=>@start, :finish=>@finish, :format=>'xml')}\");"
  running.render("RunningYear");