!!! Strict
%html{html_attrs('en-US')}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %title ...
    = javascript_include_tag 'jquery', 'jquery.livequery', 'facebox', 'activebudget'
    = stylesheet_link_tag 'reset', 'facebox', 'activebudget'

  %body

    #Content
      = yield
    
      - if logged_in?
        %ul
          %li= link_to 'Register', register_path
          %li= link_to 'Recurring', recurrings_path
          %li= link_to 'Log Out', session_path(current_user), :method=>:delete
          %li= link_to 'Settings', edit_user_path(current_user)