!!! Strict
%html
  %head
    %title stardate
    %meta{name: 'viewport', content: 'width=device-width,initial-scale=1'}
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_importmap_tags
    = turbo_refreshes_with method: :morph, scroll: :preserve
    = yield :head

  %body
    #Content
      #Main= yield

      - if logged_in?
        %ul#Menu
          %li= link_to 'home', root_path
          %li= link_to 'accounts', accounts_path
          %li= link_to 'register', transactions_path
          %li= link_to 'workouts', workouts_path
          %li= link_to 'recurring', recurrings_path
          %li= link_to 'tags', tags_path
          %li= link_to 'vendors', vendors_path
          %li= link_to 'reports', reports_path
          %li= link_to 'settings', [:edit, Current.user]
          %li= button_to 'logout', session_path(Current.user), method: :delete, data: { turbo: false }

  = turbo_frame_tag 'modal'
