!!! Strict
%html{html_attrs('en-US')}
  %head
    %meta{'http-equiv' => 'Content-Type', content: 'text/html'}
    %title stardate
    = stylesheet_link_tag 'application'
    = javascript_pack_tag 'application'

  %body
    #Content
      #Main= yield

      - if logged_in?
        %ul#Menu
          %li= link_to 'home', root_path
          %li= link_to 'accounts', accounts_path
          %li= link_to 'register', transactions_path
          %li= link_to 'workouts', workouts_path
          %li= link_to 'recurring', recurrings_path
          %li= link_to 'tags', tags_path
          %li= link_to 'vendors', vendors_path
          %li= link_to 'reports', reports_path
          %li= link_to 'settings', [:edit, @user]
          %li= link_to 'logout', session_path(@user), method: :delete
