!!! Strict
%html{html_attrs('en-US')}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %title stardate
    = stylesheet_link_tag 'reset', 'facebox', 'application'
    = javascript_include_tag 'jquery', 'jquery.livequery', 'jquery.tablesorter', 'facebox', 'FusionCharts', 'application'

  %body
    #Content
      #Sidebar= yield :sidebar
      #Main= yield
    
      - if logged_in?
        %ul#Menu
          %li= link_to 'home', root_path
          %li= link_to 'register', items_path
          %li= link_to 'recurring', recurrings_path
          %li= link_to 'tags', tags_path
          %li= link_to 'vendors', vendors_path
          %li= link_to 'settings', edit_user_path(current_user)
          %li= link_to 'goodbye', session_path(current_user), :method=>:delete