%tr
  %th Account
  - if local_assigns[:show_budget]
    %th Budget
  - elsif local_assigns[:show_deferral]
    %th Deferral
  %th Debit
  %th Credit
  %th Balance
- accounts.each do |account|
  %tr
    %td= link_to account.name, account
    - if local_assigns[:show_budget]
      %td.num.debit= not_zero(account.budget) if account.budget
    - elsif local_assigns[:show_deferral]
      %td= link_to(account.deferral.name, account.deferral) if account.deferral
    %td.num.debit= not_zero account.debit_total
    %td.num.credit= not_zero account.credit_total
    %td.num= color_money account.balance
