%p Name
%p= form.text_field :name, default: 'Name'
- unless @account.asset?
  %p Tags
  %p= form.text_field :tag_list, default: 'tags'

- if @account.new_record?
  %h3 Ledger
  = form.collection_select :ledger, Account.ledgers, :first, :first

- if @account.asset? && @account != @household.checking
  %p Every Two Weeks Save:
  %p= form.text_field :budget, default: 'Budget Balance', class: 'money'

  %p
    = form.check_box :accruing
    = form.label :accruing, 'Accrue Savings'

  %p
    = form.check_box :dashboard
    = form.label :dashboard, 'Show on Dashboard'

  %p
    = form.check_box :earmark
    = form.label :earmark, 'Checking Earmark'

%p
  Status:
  = form.collection_select :status, Account.statuses, :first, :first

- if @account.expense?
  %p
    Deferral
    = form.collection_select :deferral_id, @household.accounts, :id, :name, include_blank: true
