%h1 Accounts

%p= link_to 'New Account', new_account_path

- unless @missing.empty?
  %h2= pluralize @missing.count, 'Empty Transactions'
  %table
    - @missing.each do |transaction|
      %tr
        %td.date
          = link_to '«', transaction, rel: 'facebox'
          = link_to transaction.date, date_link(transaction.date)
        %td= vendor_name transaction
        %td
          = transaction.description
          %span.tags= linked_tag_list transaction
        %td= number_with_delimiter transaction.amount

%h2 Balance
%table.data
  %tr
    %th 
    %th Debits
    %th Credits
    %th Balance
  %tr
    %td Assets
    %td.num.debit= number_with_delimiter @household.transactions.asset_debit.sum(:amount)
    %td.num.credit= number_with_delimiter @household.transactions.asset_credit.sum(:amount)
    %td.num= color_money(@household.transactions.asset_debit.sum(:amount) - @household.transactions.asset_credit.sum(:amount))
  %tr
    %td Expenses
    %td.num.debit= number_with_delimiter @household.transactions.expense_debit.sum(:amount)
    %td.num.credit= number_with_delimiter @household.transactions.expense_credit.sum(:amount)
    %td.num= color_money(@household.transactions.expense_debit.sum(:amount) - @household.transactions.expense_credit.sum(:amount))
  %tr
    %td Income
    %td.num.debit= not_zero @household.transactions.income_debit.sum(:amount)
    %td.num.credit= number_with_delimiter @household.transactions.income_credit.sum(:amount)
    %td.num= color_money(@household.transactions.income_debit.sum(:amount) - @household.transactions.income_credit.sum(:amount))


  %tr.total
    %td Check
    %td.num= color_money(@household.transactions.where('debit_id is not null').sum(:amount))
    %td.credit.num= number_with_delimiter(@household.transactions.where('credit_id is not null').sum(:amount))
    %td.num= color_money((@household.transactions.asset_debit.sum(:amount) - @household.transactions.asset_credit.sum(:amount)) + (@household.transactions.expense_debit.sum(:amount) - @household.transactions.expense_credit.sum(:amount)) + (@household.transactions.income_debit.sum(:amount) - @household.transactions.income_credit.sum(:amount)))



%h2 Assets
%table.data
  = render partial: 'accounts', object: @household.accounts.asset
  %tr.total
    %td Net
    %td.num= color_money @household.transactions.asset_debit.sum(:amount)
    %td.credit.num= number_with_delimiter @household.transactions.asset_credit.sum(:amount)
    %td.num= color_money(@household.transactions.asset_debit.sum(:amount) - @household.transactions.asset_credit.sum(:amount))


%h2 Expenses
%table.data
  = render partial: 'accounts', object: @household.accounts.expense
  %tr.total
    %td Net
    %td.num= color_money @household.transactions.expense_debit.sum(:amount)
    %td.credit.num= number_with_delimiter @household.transactions.expense_credit.sum(:amount)
    %td.num= color_money(@household.transactions.expense_debit.sum(:amount) - @household.transactions.expense_credit.sum(:amount))


%h2 Income
%table.data
  = render partial: 'accounts', object: @household.accounts.income
  %tr.total
    %td Net
    %td.num= not_zero @household.transactions.income_debit.sum(:amount)
    %td.credit.num= number_with_delimiter @household.transactions.income_credit.sum(:amount)
    %td.num= color_money(@household.transactions.income_debit.sum(:amount) - @household.transactions.income_credit.sum(:amount))

