%h1 Accounts

%p= link_to 'New Account', new_account_path, rel: 'facebox'

%h2= pluralize @household.transactions.where('debit_id is null or credit_id is null').count, 'Empty Transactions'
%table
  - @household.transactions.where('debit_id is null OR credit_id is null').each do |transaction|
    %tr
      %td.date
        = link_to '«', transaction, rel: 'facebox'
        = link_to transaction.date, date_link(transaction.date)
      %td= vendor_name transaction
      %td
        = transaction.description
        %span.tags= linked_tag_list transaction
      %td= number_with_delimiter transaction.amount

%h2 Balance
%table
  %tr
    %td Assets
    %td.debit= number_with_delimiter @household.transactions.asset_debit.sum(:amount)
    %td.credit= number_with_delimiter @household.transactions.asset_credit.sum(:amount)
  %tr
    %td Expenses
    %td.debit= number_with_delimiter @household.transactions.expense_debit.sum(:amount)
    %td.credit= number_with_delimiter @household.transactions.expense_credit.sum(:amount)
  %tr
    %td Income
    %td.debit= number_with_delimiter @household.transactions.income_debit.sum(:amount)
    %td.credit= number_with_delimiter @household.transactions.income_credit.sum(:amount)


  %tr
    %td Check
    %td= number_with_delimiter @household.transactions.sum(:amount)



%h2 Assets

%table
  - @household.accounts.asset.each do |account|
    %tr
      %td= link_to account.name, account
      %td.debit= number_with_delimiter account.debits.sum(:amount)
      %td.credit= number_with_delimiter account.credits.sum(:amount)

  %tr
    %td Net
    %td.debit= number_with_delimiter(@household.transactions.asset_debit.sum(:amount) - @household.transactions.asset_credit.sum(:amount))

%h2 Deferred

%table
  - @household.accounts.deferred.each do |account|
    %tr
      %td= link_to account.name, account
      %td= linked_tag_list account
      %td= account.budget
      %td.debit= account.debits.sum(:amount)
      %td.credit= account.credits.sum(:amount)

%h2 Expenses

%table
  - @household.accounts.expense.order('name').each do |account|
    %tr
      %td= link_to account.name, account
      %td= linked_tag_list account
      %td= account.budget
      %td.debit= number_with_delimiter account.debits.sum(:amount)
      %td.credit= number_with_delimiter account.credits.sum(:amount)
  %tr
    %td Net
    %td
    %td
    %td.debit= number_with_delimiter @household.transactions.expense_debit.sum(:amount)
    %td.credit= number_with_delimiter @household.transactions.expense_credit.sum(:amount)


%h2 Equity

%table
  - @household.accounts.equity.each do |account|
    %tr
      %td= link_to account.name, account
      %td.debit= account.debits.sum(:amount)
      %td.credit= account.credits.sum(:amount)


%h2 Income

%table
  - @household.accounts.income.each do |account|
    %tr
      %td= link_to account.name, account
      %td.debit= number_with_delimiter(account.debits.sum(:amount)) unless account.debits.sum(:amount).zero?
      %td.credit= number_with_delimiter account.credits.sum(:amount)

  %tr
    %td Net
    %td.debit= number_with_delimiter(@household.transactions.income_debit.sum(:amount)) unless @household.transactions.income_debit.sum(:amount).zero?
    %td.credit= number_with_delimiter @household.transactions.income_credit.sum(:amount)

