%h1 Accounts

%p= link_to 'New Account', new_account_path

- if @missing.any?
  %h2= pluralize @missing.count, 'Empty Transactions'
  %table
    - @missing.each do |transaction|
      %tr
        %td.date
          = link_to '«', transaction, data: { turbo_frame: 'modal' }
          = link_to transaction.date, date_link(transaction.date)
        %td= vendor_name transaction
        %td
          = transaction.description
          %span.tags= linked_tag_list transaction
        %td= number_with_delimiter transaction.amount

%h2 Balance
%table.data
  %tr
    %th
    %th Debits
    %th Credits
    %th Balance
  %tr
    %td Assets
    %td.num.debit= number_with_delimiter @household.transactions.asset_debit.since(@user.created_at).sum(:amount)
    %td.num.credit= number_with_delimiter @household.transactions.asset_credit.since(@user.created_at).sum(:amount)
    %td.num= color_money(@household.transactions.asset_debit.since(@user.created_at).sum(:amount) - @household.transactions.asset_credit.since(@user.created_at).sum(:amount))
  %tr
    %td Expenses
    %td.num.debit= number_with_delimiter @household.transactions.expense_debit.since(@user.created_at).sum(:amount)
    %td.num.credit= number_with_delimiter @household.transactions.expense_credit.since(@user.created_at).sum(:amount)
    %td.num= color_money(@household.transactions.expense_debit.since(@user.created_at).sum(:amount) - @household.transactions.expense_credit.since(@user.created_at).sum(:amount))
  %tr
    %td Liabilities
    %td.num.debit= number_with_delimiter @household.transactions.liability_debit.since(@user.created_at).sum(:amount)
    %td.num.credit= number_with_delimiter @household.transactions.liability_credit.since(@user.created_at).sum(:amount)
    %td.num= color_money(@household.transactions.liability_debit.since(@user.created_at).sum(:amount) - @household.transactions.liability_credit.since(@user.created_at).sum(:amount))
  %tr
    %td Income
    %td.num.debit= not_zero @household.transactions.income_debit.since(@user.created_at).sum(:amount)
    %td.num.credit= number_with_delimiter @household.transactions.income_credit.since(@user.created_at).sum(:amount)
    %td.num= color_money(@household.transactions.income_debit.since(@user.created_at).sum(:amount) - @household.transactions.income_credit.since(@user.created_at).sum(:amount))
  %tr.total
    %td Check
    %td.num= color_money(@household.transactions.where.not(debit_id: nil).since(@user.created_at).sum(:amount))
    %td.credit.num= number_with_delimiter(@household.transactions.since(@user.created_at).where.not(credit_id: nil).sum(:amount))
    :ruby
      check = (@household.transactions.asset_debit.since(@user.created_at).sum(:amount) - @household.transactions.asset_credit.since(@user.created_at).sum(:amount)) +
      (@household.transactions.expense_debit.since(@user.created_at).sum(:amount) - @household.transactions.expense_credit.since(@user.created_at).sum(:amount)) +
      (@household.transactions.liability_debit.since(@user.created_at).sum(:amount) - @household.transactions.liability_credit.since(@user.created_at).sum(:amount)) +
      (@household.transactions.income_debit.since(@user.created_at).sum(:amount) - @household.transactions.income_credit.since(@user.created_at).sum(:amount))
    %td.num= color_money check

%h2 Assets
%table.data
  - cash = @household.accounts.active.asset.where('budget > 0').or(Account.where(id: @household.checking.id)).reorder(budget: :desc)
  = render partial: 'accounts', object: cash
  %tr.total
    %td Cash
    %td
    %td
    %td.num= color_money @household.checking_plus_earmarks
  = render partial: 'accounts', object: @household.accounts.active.asset.where('budget <= 0 OR budget IS NULL').where.not(id: @household.checking.id)
  %tr.total
    %td Net
    %td.num= color_money @household.transactions.asset_debit.since(@user.created_at).sum(:amount)
    %td.credit.num= number_with_delimiter @household.transactions.asset_credit.since(@user.created_at).sum(:amount)
    %td.num= color_money(@household.transactions.asset_debit.since(@user.created_at).sum(:amount) - @household.transactions.since(@user.created_at).asset_credit.sum(:amount))

%h2 Expenses
%table.data
  = render partial: 'accounts', object: @household.accounts.expense.active
  %tr.total
    %td Net
    %td.num= color_money @household.transactions.expense_debit.since(@user.created_at).sum(:amount)
    %td.credit.num= number_with_delimiter @household.transactions.expense_credit.since(@user.created_at).sum(:amount)
    %td.num= color_money(@household.transactions.expense_debit.since(@user.created_at).sum(:amount) - @household.transactions.expense_credit.since(@user.created_at).sum(:amount))

%h2 Liabilities
%table.data
  = render partial: 'accounts', object: @household.accounts.liability.active
  %tr.total
    %td Net
    %td.num= color_money @household.transactions.liability_debit.since(@user.created_at).sum(:amount)
    %td.credit.num= number_with_delimiter @household.transactions.liability_credit.since(@user.created_at).sum(:amount)
    %td.num= color_money(@household.transactions.liability_debit.since(@user.created_at).sum(:amount) - @household.transactions.liability_credit.since(@user.created_at).sum(:amount))

%h2 Income
%table.data
  = render partial: 'accounts', object: @household.accounts.income.active
  %tr.total
    %td Net
    %td.num= not_zero @household.transactions.income_debit.since(@user.created_at).sum(:amount)
    %td.credit.num= number_with_delimiter @household.transactions.income_credit.since(@user.created_at).sum(:amount)
    %td.num= color_money(@household.transactions.income_debit.since(@user.created_at).sum(:amount) - @household.transactions.income_credit.since(@user.created_at).sum(:amount))


%p= link_to 'Retired Accounts', [:retired, :accounts]
