%h1= @account.name

- if @account.transactions.any?
  #Balance
  = render partial: 'graphs/account_balance'

%h3
  Balance
  = color_money @account.balance

- if @account.budget
  %h3
    Biweekly Budget Balance
    = @account.budget

- unless @account.core?
  %p= link_to 'Edit', [:edit, @account]

- if @account.asset? && !@account.core?
  %p= link_to 'Fund', [:fund, @account], rel: 'facebox'

%table.data
  %tr
    %th Date
    %th Vendor
    %th Description
    %th Debit
    %th Credit

  - @transactions.each do |transaction|
    - if transaction.secret? && transaction.user != @user
      %tr
        %td.date
          = link_to transaction.date, date_link(transaction.date)
        %td{ colspan: 4 }
          %span.secret SECRET

    - else
      %tr
        %td.date
          = link_to '«', transaction, rel: 'facebox'
          = link_to transaction.date, date_link(transaction.date)
        %td= vendor_name transaction
        %td
          = transaction.description
          %span.tags= linked_tag_list transaction
        %td.debit.num
          - if transaction.debit == @account
            = number_with_delimiter transaction.amount
          - else
            = link_to transaction.debit.try(:name), transaction.debit
        %td.credit.num
          - if transaction.credit == @account
            = number_with_delimiter transaction.amount
          - else
            = link_to transaction.credit.name, transaction.credit

  %tr.total
    %td Total
    %td
    %td
    %td.debit.num= number_with_delimiter @account.debits.since(@user.created_at).sum(:amount)
    %td.credit.num= number_with_delimiter @account.credits.since(@user.created_at).sum(:amount)

= will_paginate @transactions
